k3s_masters = {
  m1 = { target_node = "nerd-pve01", vcpu = "4", memory = "16384", disk_size = "30G", name = "ZUES-01", ip = "10.0.40.20", gw = "10.0.40.1" , ip2 = "10.0.50.20", gw2 = "10.0.50.1"},
  m2 = { target_node = "nerd-pve02", vcpu = "4", memory = "16384", disk_size = "30G", name = "ZUES-02", ip = "10.0.40.21", gw = "10.0.40.1" , ip2 = "10.0.50.21" , gw2 = "10.0.50.1"},
  m3 = { target_node = "nerd-pve03", vcpu = "4", memory = "16384", disk_size = "30G", name = "ZUES-03", ip = "10.0.40.22", gw = "10.0.40.1" , ip2 = "10.0.50.22" , gw2 = "10.0.50.1"}
}

k3s_workers= {
  m1 = { target_node = "nerd-pve01", vcpu = "4", memory = "16384", disk_size = "30G", name = "HADES-01", ip = "10.0.40.30", gw = "10.0.40.1" , ip2 = "10.0.50.30" , gw2 = "10.0.50.1"},
  m2 = { target_node = "nerd-pve02", vcpu = "4", memory = "16384", disk_size = "30G", name = "HADES-02", ip = "10.0.40.31", gw = "10.0.40.1" , ip2 = "10.0.50.31" , gw2 = "10.0.50.1"},
  m3 = { target_node = "nerd-pve03", vcpu = "4", memory = "16384", disk_size = "30G", name = "HADES-03", ip = "10.0.40.32", gw = "10.0.40.1" , ip2 = "10.0.50.32" , gw2 = "10.0.50.1"}
}



ssh_password = ""
ssh_user = ""
ciuser = ""
cipassword = ""
ssh_pub_key = ""
proxmox_api_token_id = ""
proxmox_api_token_secret = ""
proxmox_api_url = ""
k3s_source_template = "ubuntu22-04-template"

